@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave-animation {
  display: inline-block;
  transform-origin: center center;
  animation: wave 2s infinite ease-in-out;
}

.liquid-glass {
  backdrop-filter: blur(16px) saturate(1.5);
  transition: all;
  transition-duration: 500ms;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
}
